body {
    background-color: #181823;
    margin: 0;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

strong{
    color: #5221E6;
}

.bannerHeader{
    background-color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
}

.container {
    flex-direction: column;
    background-color: #181823;
    padding: 0;
    margin: 0;
}

.headerDyiButton {
    background-color: #5221E6;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.headerDyiButton:hover {
    background-color: white;
    color: #5221E6;
}


.Header {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
    align-items: center;
    position: relative;
    gap: 1rem;
}

@media (max-width:300px) {
    .IntroText {
        font-size: 10px;
    }
}


.HeaderText {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: aliceblue;
}

.HeaderText:hover {
    color: #5221E6;
}

.contentRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.UnivBanner {
    margin-right: 1rem;

}

.UNIVIMG {
    height: 40rem;
    width: auto;
    border-radius: 0.5rem;
}

.bannerHeader{
    color: white;
    background-color:  #5221E6;
}